.container {
  width: 700px;
  margin: auto;
}

.header {
  padding: 10px;
  background-color: rgb(236, 236, 236);
}

.input-style {
  outline: none;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 5px; 
}

.button-style {
  background-color: rgb(43, 127, 43);
  border: none;
  padding: 5px 5px;
  color: white;
  border-radius: 5px;
}
